@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster+Two&display=swap');
@import "tailwindcss";

@theme {
    --color-darkblue: #001737;
    --color-deep-purple: #710046; 
    --font-lato: "Lato";
    --font-bitter: "Bitter", sans-serif; 
}

@layer base{
    * {
        font-family: 'Lato';
    }
    .nav-item{
        @apply px-8 py-2  hover:bg-[#334561] rounded-md whitespace-nowrap;
    }
    .card{
        @apply flex-1 flex flex-col bg-[rgba(40,40,59,0.05)] p-12 justify-between
    }
    .card h2{
        @apply text-deep-purple font-bitter text-xl font-bold 
    }
    .card p{
        @apply text-lg
    }
    input, select, textarea{
        @apply bg-white my-2 border border-gray-300 placeholder-gray-400 rounded-sm p-2 w-full
    }
    select{
        @apply text-gray-400 text-center
    }
    option{
        @apply text-black text-center font-bold 
    }
    li::marker{
        @apply text-deep-purple text-xl
    }
    li{
        @apply text-lg
    }
}

